/Product Diff/__pycache__
/Product Diff/Lib
/Product Diff/Scripts
/Product Diff/share
Product Diff/pyvenv.cfg
/Product Diff/data/output
/Product Diff/img/output
.claude/settings.local.json
Product Diff/.env
Product Diff/src/.env
/Product Diff/src/output
