*/__pycache__
/Product Diff/Lib
/Product Diff/Scripts
/Product Diff/share
Product Diff/pyvenv.cfg
*.env
*output
POC-Stains_Detective.pptx
logo.svg
coords plot sample.jpg
/.claude
Product Diff/Thumbs.db
*__pycache__
/Product Diff/build
Product Diff/defect_traceback.py
crawl.bat
/Product Diff/dist
